* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body,
html {
  scroll-behavior: smooth;
  font-family: "Kalam", cursive;
  line-height: 1.4;
  color: white;
  letter-spacing: 0.12rem;
}
body {
  font-size: 1.4rem;
}
.container {
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
header {
  background-color: #0089b7;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 3px rgb(41, 41, 41);
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
nav li {
  color: #9af038;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
  position: relative;
  padding: 0 0.4rem;
  margin: 0 0.4rem;
}
nav ul a li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #43ecde;
  left: 0;
  bottom: -1px;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
nav ul a li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav ul {
  display: flex;
  gap: 1rem;
}
.logo {
  font-size: 3.5rem;
  font-weight: 700;
  color: #43ecde;
}
.background_pic {
  background-image: url(../All_Image/wallpaper/wallpaperflare.com_wallpaper\ _laptop.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.heading {
  margin-left: -180px;
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  color: rgb(70, 179, 124);
  height: 100vh;
}
.typewriter p {
  font-family: serif;
  font-size: 6rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.4rem solid rgb(61, 111, 153); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.2rem; /* Adjust as needed */
  animation: typing 7s steps(40, end), blink-caret 1.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 34%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(61, 111, 153);
  }
}
.hr {
  border-bottom: 5px solid #0089b7;
}
main {
  background-color: rgba(15, 59, 117, 0.959);
}
.main_div {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.Shourav_name {
  letter-spacing: 0.16rem;
  font-size: 2.7rem;
  padding-bottom: 0.5rem;
  color: rgba(0, 255, 255, 0.829);
}
/* Classes Section Starts Hare  */
.classes_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
.grid_item {
  display: grid;
  place-items: center;
}
.img_class {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.img_class:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.img_class:hover img {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}
.img_class:hover .classes_contant {
  background-color: white;
  color: green;
  transform: translateY(0);
}
.classes_contant {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.7s ease-in-out;
  border-radius: 0.6rem;
  transform: translateY(400px);
}
.classes_contant h3 {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
}
.classes_contant h3 .bg_letter {
  font-size: 2.2rem;
}
.classes_contant h3 .mg_letter {
  font-size: 2rem;
}
/* Classes Section End Hare  */
/* Classes Section SEC_2 Starts Hare  */
.SEC_2 .img_class {
  width: 320px;
  height: 180px;
}
.SEC_2 .img_class img {
  width: 320px;
  height: 180px;
}
/* Classes Section SEC_2 End Hare  */
/* Members_Container_starts Hare  */
.squar .img_class {
  width: 320px;
  height: 320px;
  margin-bottom: 2rem;
}
#members {
  background-color: #0e274d;
}
.menbers_container h4 {
  padding: 2rem 0 3rem;
}
#members h3 {
  color: rgb(16, 32, 151);
}
#members .classes_contant {
  background-color: rgb(110, 165, 187);
}
/* Members_Container_END Hare  */
